* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  font-family: Inter, sans-serif;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --base-body-bg: #121214;
  --base-app-bg: #202024;
  --base-app-border: #323238;
}

.light-mode:root {
  --base-body-bg: #ededeb;
  --base-app-bg: #dfdfdb;
  --base-app-border: #cdcdc7;
}

body {
  font-size: 1.6rem;
  background: var(--base-body-bg);

  display: flex;
  place-items: center;

  min-height: 100vh;
}

.flex {
  display: flex;
}

#app {
  display: grid;
  justify-content: center;
  gap: 3.2rem;

  width: 90%;
  max-width: 42rem;
  margin: 0 auto;

  padding: 2.8rem 6rem 4rem;
  background: var(--base-app-bg);
  border: 0.1rem solid var(--base-app-border);
  border-radius: 0.6rem;
}

#app header {
  display: flex;
  align-items: center;
}
