/* form */

:root {
  --form-label-color: #e1e1e6;
  --form-input-bg: #121214;
  --form-input-border: #323238;
  --form-input-color: #fff;
  --form-button-bg: #42d3ff;
  --form-button-txt: #121212;
}

form {
  max-width: 36rem;
  display: grid;
  gap: 1.6rem;
}

form .input-wrapper {
  display: grid;
  gap: 0.6rem;
}

form label {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.01px;
  text-transform: uppercase;
  color: var(--form-label-color);
}

form input {
  background: var(--form-input-bg);
  border: 1px solid var(--form-input-border);
  border-radius: 6px;
  height: 41px;
  padding-inline: 1.2rem;

  width: 100%;

  color: var(--form-input-color);
  text-transform: uppercase;
}

form .flex {
  gap: 1.4rem;
}

form .flex .input-wrapper {
  flex: 1;
}

form button {
  margin-top: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 0;

  background: var(--form-button-bg);
  border-radius: 0.6rem;

  cursor: pointer;

  border: none;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--form-button-txt);

  transition: filter 0.3s;
}

form button:hover {
  filter: brightness(1.1);
}
